.weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.weather-app::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
